
.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    max-width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}
.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}


.close{
    margin-left: auto;
    font-size: 0.7rem;
}

.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 6px;
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}


.abtn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 5px;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;

    transition: none; 
}
.btn:hover{
    color: white;
}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}

.carrimg{
    width: 60px;
    height: 60px;
}
.col-md-10  {
    padding-bottom: 7%;
    padding-top: 7%;
    
}
.col-2{
    max-width: 100%;
}
.axd{
    padding-left: 10px;
    padding-right: 10px;
}