{% extends 'core/html/PlantillaGeneral.html' %}

	{% load static %}

    {% block titulo %}
	<title>Productos</title>
	{% endblock titulo %}

	{% block links %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/Estilos.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/EstiloBuscador.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/Footer.css'%}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/cardp.css'%}">

	{% endblock links %}

	{% block productos %}
	<div class="row">
		<div class="col">             
			<div class="desactivado">
				<a>Categorias</a>
			</div>
			<div class="vertical-menu">
				<a href="Buscador.html" class="active">Varios</a>
				<a href="Computadores.html">Computadores</a>
				<a href="Celulares.html">Celulares</a>
				<a href="Consolas.html">Consolas</a>
			</div>
		</div>
	</div>
	<div class="container mydiv">
		<div class="row">
			<div class="col-md-4">
				<a href="Producto1.html">
					<div class="bbb_deals">
						<div class="bbb_deals_slider_container">
							<div class=" bbb_deals_item">
								<div class="bbb_deals_image"><img src="{% static 'core/img/producto1.jfif'%}" alt=""></div>
								<div class="bbb_deals_content">
									<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
										<div class="bbb_deals_item_category"><a>Celular</a></div>
										<div class="bbb_deals_item_price_a ml-auto"><strike>$229.990</strike></div>
									</div>
									<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
										<div class="bbb_deals_item_name">Vivo Y21s</div>
										<div class="bbb_deals_item_price ml-auto">$169.990</div>
									</div>
									<div class="available">
										<div class="available_line d-flex flex-row justify-content-start">
											<div class="available_title">Disponible: <span>6</span></div>
											<div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
										</div>
										<div class="available_bar"><span style="width:17%"></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="Producto2.html">
					<div class="bbb_deals">
						<div class="bbb_deals_slider_container">
							<div class=" bbb_deals_item">
								<div class="bbb_deals_image"><img src="{% static 'core/img/producto2.jfif'%}" alt=""></div>
								<div class="bbb_deals_content">
									<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
										<div class="bbb_deals_item_category"><a href="#">Celular</a></div>
										<div class="bbb_deals_item_price_a ml-auto"><strike>$179.990</strike></div>
									</div>
									<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
										<div class="bbb_deals_item_name">Moto G22</div>
										<div class="bbb_deals_item_price ml-auto">$159.990</div>
									</div>
									<div class="available">
										<div class="available_line d-flex flex-row justify-content-start">
											<div class="available_title">Disponible:  <span>6</span></div>
											<div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
										</div>
										<div class="available_bar"><span style="width:17%"></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="Producto3.html">
					<div class="bbb_deals">
						<div class="bbb_deals_slider_container">
							<div class=" bbb_deals_item">
								<div class="bbb_deals_image"><img src="{% static 'core/img/producto3.webp'%}" alt=""></div>
								<div class="bbb_deals_content">
									<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
										<div class="bbb_deals_item_category"><a href="#">Computador</a></div>
										<div class="bbb_deals_item_price_a ml-auto"><strike>$1.099.000</strike></div>
									</div>
									<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
										<div class="bbb_deals_item_name">HP ENVY</div>
										<div class="bbb_deals_item_price ml-auto">$729.000</div>
									</div>
									<div class="available">
										<div class="available_line d-flex flex-row justify-content-start">
											<div class="available_title">Disponible:  <span>6</span></div>
											<div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
										</div>
										<div class="available_bar"><span style="width:17%"></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
			<div class="row">
				<div class="col-md-4">
					<a href="Producto4.html">
						<div class="bbb_deals">
							<div class="bbb_deals_slider_container">
								<div class=" bbb_deals_item">
									<div class="bbb_deals_image"><img src="{% static 'core/img/producto4.jfif'%}" alt=""></div>
									<div class="bbb_deals_content">
										<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
											<div class="bbb_deals_item_category"><a href="#">Computador</a></div>
											<div class="bbb_deals_item_price_a ml-auto"><strike>$549.990</strike></div>
										</div>
										<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
											<div class="bbb_deals_item_name">HP Notebook</div>
											<div class="bbb_deals_item_price ml-auto">$499.990</div>
										</div>
										<div class="available">
											<div class="available_line d-flex flex-row justify-content-start">
												<div class="available_title">Disponible:  <span>6</span></div>
												<div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
											</div>
											<div class="available_bar"><span style="width:17%"></span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="Producto5.html">
						<div class="bbb_deals">
							<div class="bbb_deals_slider_container">
								<div class=" bbb_deals_item">
									<div class="bbb_deals_image"><img src="{% static 'core/img/producto5.jfif'%}" alt=""></div>
									<div class="bbb_deals_content">
										<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
											<div class="bbb_deals_item_category"><a href="#">Tarjeta</a></div>
											<div class="bbb_deals_item_price_a ml-auto"><strike>$49.999</strike></div>
										</div>
										<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
											<div class="bbb_deals_item_name">Tarjeta MicroSDXC</div>
											<div class="bbb_deals_item_price ml-auto">$24.960</div>
										</div>
										<div class="available">
											<div class="available_line d-flex flex-row justify-content-start">
												<div class="available_title">Disponible:  <span>6</span></div>
												<div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
											</div>
											<div class="available_bar"><span style="width:17%"></span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="Producto6.html">
						<div class="bbb_deals">
							<div class="bbb_deals_slider_container">
								<div class=" bbb_deals_item">
									<div class="bbb_deals_image"><img src="{% static 'core/img/producto6.jpg'%}" alt=""></div>
									<div class="bbb_deals_content">
										<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
											<div class="bbb_deals_item_category"><a href="#">Tablet</a></div>
											<div class="bbb_deals_item_price_a ml-auto"><strike>$179.990</strike></div>
										</div>
										<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
											<div class="bbb_deals_item_name">Tablet 10" TCL</div>
											<div class="bbb_deals_item_price ml-auto">$109.990</div>
										</div>
										<div class="available">
											<div class="available_line d-flex flex-row justify-content-start">
												<div class="available_title">Disponible:  <span>6</span></div>
												<div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
											</div>
											<div class="available_bar"><span style="width:17%"></span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		
	</div>
	{% endblock productos %}
