{% extends 'core/html/PlantillaGeneral.html' %}

{% load static %}
{% load humanize %}

{% block titulo %}
<title>Document</title>
{% endblock titulo %}

{% block links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/Estilos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/EstiloCarrito.css' %}">
<link rel="stylesheet" href="{% static 'core/css/Footer.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock links %}

{% block banner %}

<div class="row">
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-xs-10 "  >
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">                           
                            <div class="col"><h4><b>Carrito de compra</b></h4></div>
                            <div class="col align-self-center text-right text-muted">{{ detalles.count }} PRODUCTOS</div>
                        </div>
                    </div>    
                    <div class="row border-top border-bottom">
                        {% if detalles %}
                            {% for d in detalles %} 
                                <div class="row main align-items-center">
                                    <div class="col-2 col-xs-1 col-md-2 col-lg-2"><img class="carrimg" src="{{ d.producto.foto_producto.url }}"></div>
                                    <div class="col col-xs-2 col-md-7 col-lg">
                                        <div class="row text-muted">{{ d.producto.categoria }}</div>
                                        <div class="row">{{ d.producto.nombre_producto }}</div>
                                    </div>
                                    <div class="col col-xs-6 col-md-3 col-lg">
                                        <a href="{% url 'disminuirPedido' id_detalle=d.id_detalle %}" > - &nbsp;</a><a class="border">{{ d.cantidad }}</a> <a href="{% url 'aumentarPedido' id_detalle=d.id_detalle %}" >+</a>
                                    </div>
                                    <div class="col col-xs-3">&dollar;{{ d.subtotal }} <a href = "{% url 'eliminarPedido' id_detalle=d.id_detalle %} "> <span class="close"> &#10005; </span></a> </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No hay productos en el carrito.</p>
                        {% endif %}
                    </div>                      
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Resumen</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">PRODUCTOS {{ detalles.count }}</div>
                        <div class="col text-right">&dollar; {{precio_total }}</div>
                    </div>
                    <form method="POST" >
                        {% csrf_token %}
                        <p>ENVIO</p>
                        <select><option class="text-muted">ENVIO ESTANDAR- &dollar;10000</option></select>
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">PRECIO TOTAL</div>
                            <div class="col text-right">&dollar; {{ precio_final  }}</div>
                        </div>
                        <form method="POST" action ="{% url 'carrito' %}">
                            {% csrf_token %}
                            <!-- Resto del formulario de pago -->
                            <button type="submit" class="abtn">PAGAR</button> 
                        </form>
                </div>
            </div>
        </div> 
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
</div>
{% endblock banner %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{% endblock js %}
