{% extends 'core/html/PlantillaGeneral.html' %}

{% load static %}

{% block titulo %}
<title>Document</title>
{% endblock titulo %}

{% block links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/Estilos.css'%}">
<link rel="stylesheet" href="{% static 'core/css/Footer.css'%}">
<link rel="stylesheet" href="{% static 'core/css/cardp.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock links %}



{% block banner %}
<div class="row">
	<div class="col">
		<div class="desactivado">
			<a>Categorias</a>
		</div>
		<div class="vertical-menu">
			<a href="{% url 'productos'%}">Varios</a>
			<a href="{% url 'computadores'%}">Computadores</a>
			<a href="{% url 'celulares'%}" class="active">Celulares</a>
			<a href="{% url 'consolas'%}">Consolas</a>
		</div>
	</div>
</div>
{% endblock banner %}

{% block productos %}


<div class="container mydiv">
	<div class="row">
		{% for p in productos %}
			<div class="col-md-4" style="padding-bottom: 20px;">
				<a href="{% url 'producto1' p.id_producto %}">
					<div class="bbb_deals">
						<div class="bbb_deals_slider_container">
							<div class=" bbb_deals_item">
								<div class="bbb_deals_image"><img src="{{ p.foto_producto.url }}"
										style="width: 300px; height: 300px;"></div>
								<div class="bbb_deals_content">
									<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
										<input type="hidden" name="id_producto" value="{{ p.id_producto }}">
										<div class="bbb_deals_item_category"><a>{{p.categoria}}</a></div>
									</div>
									<div class="bbb_deals_info_line d-flex flex-row justify-content-start">
										<div class="bbb_deals_item_name">{{p.nombre_producto}}</div>
										<div class="bbb_deals_item_price ml-auto">${{p.precio_producto}}</div>
									</div>
									<div class="available">
										<div class="available_line d-flex flex-row justify-content-start">
											<div class="available_title">Disponible:<span>{{p.stock_producto}}</span></div>
										</div>
										<div class="available_bar"><span style="width:17%"></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>|
		{% endfor %}
	</div>
</div>


{% endblock productos %}