<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block titulo %}

	{% endblock titulo %}
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/Estilos.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/EstiloProducto.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/Footer.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'core/css/cardp.css' %}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
		<img src="{% static 'core/img/laptop.png' %} " alt="logo" class="mr-2" height="30">
		<a class="navbar-brand">NextGenStore</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'paginaprincipal' %}">Inicio
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'productos' %}">Productos</a>
				</li>
				<li class="nav-item dropdown">
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{% url 'paginaprincipal' %}">Inicio</a>
						<a class="dropdown-item" href="{% url 'productos' %}">Productos</a>
						
					</div>
				</li>               
			</ul>
			<li>
				<a class="nav-item" href="{% url 'carrito' %} "><img src="{% static 'core/img/online-shopping.png' %}" class="mr-2" height="30" ></a>
			</li> 
			<li>
				<a class="nav-item" href="{% url 'iniciosesion' %}"><img src="{% static 'core/img/perfil.png' %}" class="mr-2" height="30" ></a>   
			</li>       
		</div>
	</nav>
		<div class="row">
			<div class="col-md-2">

			</div>
            <div class="col-md-5">
				<div class="container1">
					<div class="Pro">
						{% block imagenP %}

						{% endblock imagenP %}
					</div>				
				</div>
			</div>
			<div class="col-md-5">
				<div class="nombre">
					{% block nombreP %}

					{% endblock nombreP %}					
				</div>
				{% block precio-estrellas %}

				{% endblock precio-estrellas %}
				<div class="mi-button">
					<a title="Producto" href="{% url 'carrito' %}"><button>Comprar</button></a>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col">
				<div class="mi-contenedor">
					{% block especificacionesP %}

					{% endblock especificacionesP %}
				</div>
			</div>
		</div> 
	
		<footer class="footer">
            <div class="container">
             <div class="row">
              <div class="footer-col">
                <h4>Compañia</h4>
                <ul>
                  <li><a href="#">Politicas de privacidad</a></li>
                  <li><a href="#">Terminos y condiciones</a></li>
                  <li><a href="#">Politicas de cookies</a></li>
                </ul>
                </div>
                <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                  <li><p>+56912378762 Sebastian Silva</p></li>
                  <li><p>+56976521254 Gabriel Maneiro</p></li>
                  <li><p>+56923189382 Claudio Diaz</p></li>
                </ul>
                </div>
                <div class="footer-col">
                <h4>Productos</h4>
                <ul>
                  <li><a href="{% url 'productos' %}">Productos</a></li>
                  <li><a href="{% url 'carrito' %}">Carrito de compras</a></li>
                </ul>
                </div>
               <div class="footer-col">
                <div class="social-links">
                  <a href="#"><i class="fa fa-facebook-f"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
               </div>
             </div>
            </div>
         </footer>       
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>