{% extends 'core/html/PlantillaFooter.html' %}
    {% load static %}
    {% block links %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/css/Footer.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
		//evento que verifica que el html este cargado antes de ejecutar
		$(document).ready(function(){
			//agrego evento click al botón
			$("#consultar").click(function(){
				//metodo get para el servicio web y una variable data para guardar el JSON
				$.get("http://127.0.0.1:8000/api/lista_usuarios",function(data){
					//ciclo for para recorrer el JSON y guarda cada elemento de la lista en la variable item
					$.each(data,function(i,item){
						$("#tabla").append("<tr>"+
												"<td>"+ item.nombre_usuario +"</td>"+
												"<td>"+ item.apellido_usuario +"</td>"+
												"<td>"+ item.correo_usuario +"</td>"+
										   "</tr>");
					});
				});
			});
		});
	</script>

	{% endblock links %}

	{% block titulo %}
    <title>Vista de administrador</title>
	{% endblock titulo %}
    
    {% block productos %}

            <div class="row">
                <div class="col-1"></div>
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th class="text-center">Stock</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Categoria</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in productos %}
                            <tr>
                                <td class="col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{ p.foto_producto.url }}" style="width: 72px; height: 72px;" > </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">{{p.nombre_producto}}</a></h4>
                                        <h5 class="media-heading"> <a href="#">Id:{{p.id_producto}}</a></h5>
                                    </div>
                                </div></td>
                                <td class="col-md-1 text-center"><strong>{{p.stock_producto}}</strong></td>
                                <td class="col-md-1 text-center"><strong>${{p.precio_producto}}</strong></td>
                                <td class="col-md-1 text-center"><strong>{{p.categoria}}</strong></td>

                                <td class="col-md-1">
                                <a href="{% url 'eliminarProducto' p.id_producto %}"><button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remover
                                </button></a></td> 
                                <td class="col-md-1">
                                    <a href="{% url 'modificar' p.id_producto %}"><button type="button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-remove"></span> Editar
                                    </button></a></td> 
                            </tr>

                         {% endfor %}

                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td>   </td>
                                <td>
                                <a href="{% url 'ingresarProducto'%}"><button  ype="button" class="btn btn-success">
                                    Ingresar producto  <span class="glyphicon glyphicon-play"></span>
                                </button></a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
                <div class="container">
                    <div class="row" style="text-align: center;">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger" id="consultar">Ver usuarios registrados en la pagina</button>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped" id="tabla">
                                <thead>
                                    <tr>
                                        <th>NOMBRE</th>
                                        <th>APELLIDO</th>
                                        <th>EMAIL</th> 
                                    </tr>
                                </thead>
            
                                <tbody>
            
                                </tbody>
            
                            </table>
                        </div>
                    </div>
            
                </div>
    
           
        {% endblock productos %}
        {% block js %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        {% endblock js %}
        
    