{% extends 'core/html/PlantillaProducto.html' %}
	{% load static %}

	{% block titulo %}
	<title>Document</title>
	{% endblock titulo %}

	{% block imagenP %}
	{% for p in productos %}
	<img class="media-object" src="{{ p.foto_producto.url }}" style="width: 200px; height: 300px;" >
	{% endblock imagenP %}

	{% block nombreP %}
	<h1>{{p.nombre_producto}}</h1>
	{% endblock nombreP %}					

	{% block precio-estrellas %}
	<h5 class="precio">${{p.precio_producto}}</h5>
	<div class="sold_stars ml-auto">{{p.stock_producto}}</div>
	{% endblock precio-estrellas %}

	{% block especificacionesP %}
	<h3>{{p.desc_producto}}</h3>
	{% endfor %}
	{% endblock especificacionesP %}