{% extends 'core/html/PlantillaProducto.html' %}
	{% load static %}

	{% block titulo %}
	<title>Document</title>
	{% endblock titulo %}

	{% block imagenP %}
	<img class="media-object" src="{{ p.foto_producto.url }}" style="width: 350px; height: 400px;" >
	{% endblock imagenP %}

	{% block nombreP %}
	<h1>{{p.nombre_producto}}</h1>
	{% endblock nombreP %}					

	{% block precio-estrellas %}
	<h5 class="precio">${{p.precio_producto}}</h5>
	<h6>Stock: {{p.stock_producto}}</h6>
	{% endblock precio-estrellas %}

	{% block especificacionesP %}
	<h3>{{p.desc_producto}}</h3>
	{% endblock especificacionesP %}