{% extends 'core/html/PlantillaProducto.html' %}
	{% load static %}

	{% block titulo %}
	<title>Document</title>
	{% endblock titulo %}

	{% block imagenP %}
	<img src="{% static 'core/img/producto1.jfif' %}" alt="Producto 1">
	{% endblock imagenP %}

	{% block nombreP %}
	<h1>Vivo Y21s Midnight Blue</h1>
	{% endblock nombreP %}					

	{% block precio-estrellas %}
	<h5 class="precio">$169.990</h5>
	<div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
	{% endblock precio-estrellas %}

	{% block especificacionesP %}
	<h3>Especificaciones técnicas</h3>
	<p>Memoria interna: 128GB</p>
	<p>GPS integrado: No</p>
	<p>Temporada: Toda temporada</p>
	<p>Profundidad: 8</p>
	<p>Peso: 182 gramos</p>	
	{% endblock especificacionesP %}