{% extends 'core/html/PlantillaGeneral.html' %}
    {% load static %}
    {% block titulo %}
    <title>Mi perfil</title>
	{% endblock titulo %}

    {% block links %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/Usuario.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/Estilos.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/Footer.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% endblock links %}
    
    {% block productos %}
    <div class="main">
        <div class="row">
            <div class="col-lg-2 col-md-1 col-xs-1"></div>    
            <div class="col-lg-8 col-md-10 col-xs-10">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <div class="mt-3">
                            <h3>Mi perfil</h3> 
                        </div>
                        <img src="{% static 'core/img/usuariocomprador.jpg'%}" class="rounded-circle mt-5" width="150">
                        <div class="container">
                        <div class="row mt-3">
                            
                            <div class="col-md-3">
                                <h5>Nombre </h5>
                            </div>
                            <div class="col-md-9 text-secondary mb-0">
                                {{usuario.nombre_usuario}}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <h5>Apellido</h5>
                            </div>
                            <div class="col-md-9 text-secondary mb-0">
                                {{usuario.apellido_usuario}}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <h5>Correo electrónico</h5>
                            </div>
                            <div class="col-md-9 text-secondary mb-0">
                                {{usuario.correo_usuario}}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <h5>Telefono</h5>
                            </div>
                            <div class="col-md-9 text-secondary mb-0">
                                {{usuario.telefono_usuario}}
                            </div>
                        </div>
                        <div class="row mt-3">                            
                            <div class="col-md-3">
                                <h5>Direccion</h5>
                            </div>                         
                            <div class="col-md-9 text-secondary mb-0">
                                {{direcciones.nombre_direccion}} {{direcciones.num_direccion}}
                            </div>
                         
                        </div>
                        
                    </div>
                </div>
                    <div class="card-footer">
                        <div class="row">
                            {% if usuario.rol_id == 2 %}
                            <div class="col-md-6">                   
                               <a href="{% url 'modificarUsuario' %}">  <button type="button" class="btn btn-primary btn-block">Editar</button></a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'cerrar_sesion'%}"><button type="button" class="btn btn-secondary btn-block">Cerrar sesion</button></a>
                            </div>
                            {% else %}
                            <div class="col-md-6">                              
                                <a href="{% url 'modificarUsuario' %}">  <button type="button" class="btn btn-primary btn-block">Editar</button></a>
                             </div>
                             <div class="col-md-6">
                                 <a href="{% url 'cerrar_sesion'%}"><button type="button" class="btn btn-secondary btn-block">Cerrar sesion</button></a>
                             </div>
                            <div class="col-md-6">
                                <a href="{% url 'PovAdmin' %}"><button type="button" class="btn btn-secondary btn-block">Vista de admin</button></a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'RegistroAdmin' %}"><button type="button" class="btn btn-secondary btn-block">Ingresar admin</button></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-2 col-md-1 col-xs-1"></div>       
        </div>
    </div>
    <div class="col-1"></div>
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th class="text-center">Stock</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Categoria</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in productos %}
                            <tr>
                                <td class="col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{ p.foto_producto.url }}" style="width: 72px; height: 72px;" > </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">{{p.nombre_producto}}</a></h4>
                                        <h5 class="media-heading"> <a href="#">Id:{{p.id_producto}}</a></h5>
                                        <span>Estado: </span><span class="text-danger"><strong>Sin Stock</strong></span>
                                    </div>
                                </div></td>
                                <td class="col-md-1 text-center"><strong>{{p.stock_producto}}</strong></td>
                                <td class="col-md-1 text-center"><strong>${{p.precio_producto}}</strong></td>
                                <td class="col-md-1 text-center"><strong>{{p.categoria}}</strong></td>

                                <td class="col-md-1">
                                <a href="{% url 'eliminarProducto' p.id_producto %}"><button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remover
                                </button></a></td> 
                                <td class="col-md-1">
                                    <a href="{% url 'modificar' p.id_producto %}"><button type="button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-remove"></span> Editar
                                    </button></a></td> 
                            </tr>

                         {% endfor %}

                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td>   </td>
                                <td>
                                <a href="{% url 'ingresarProducto'%}"><button  ype="button" class="btn btn-success">
                                    Ingresar producto  <span class="glyphicon glyphicon-play"></span>
                                </button></a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
	{% endblock productos %}
        
        
        
</body>
</html